@import "seattletimes";

.content {
  border-top : 1px solid @df-light-gray;
  border-bottom: 1px solid @df-light-gray;
}

.chatter{
  padding: 0 10px;
  max-width: 630px;
  margin: 14px auto;
  font-family: @df-sans;
  font-size: 15px;
}

#legend{
  width:250px;
  margin: auto;
  text{
    font-family: @df-sans;
  }

}


.chart-head {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2px;
  margin: 10px 0;
}
  
.svg-container{
  text-align: center;
  background-color: #232323;
  width: 100%;
}

.legend-labels {
  font-family: @df-sans;
  font-size: 15px;
  fill: #111;
  .bold {
    font-weight: bold;
  }
}

.bubble-labels {
  font-family: @df-sans;
  font-size: 16px;
  fill: #ffffff;
  font-weight: bold;
}
  
  line.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .filters {
    background-color: white;
    font-family: @df-sans;
    padding: 10px 0;
    @media (max-width: 600px) {
      padding: 0;
      position: sticky;
      top: 0;
    }
    .categories {
      padding: 12px;
      margin: 0;
      list-style-type: none;
      display: block;
      text-align: center;
      background-color: white;
      @media (max-width: 600px) {
        padding: 2px;
      }
      .member-label{
        display: inline-block;
        margin: 5px 0;
        @media (max-width: 600px) {
          margin: 2px 0;
        }
      }
      .member-label-role{
        font-style: italic;
        color: #6e6e6e;
        font-size: 14px;
      }
      label {
        display: block;
      }
    
  
    button {
      outline: 0;
       background-color: white;
        padding: 2px 8px;
        border-radius: 10px;
        cursor: pointer;
        margin: 2px;
        font-size: 18px;
        @media (max-width: 600px) {
          font-size: 14px;
          padding: 2px 4px;
        }
      }
      .checked {
        opacity: .5;
        outline: 0;
      }
    
    }
    li {
      display: inline-block;
    }
  }

.footer {
  font-family: @df-sans;
  color: @df-middle-gray;
  p {
    margin: 5px;
  }
  .source {
    font-size: 14px;
    font-style: italic;
    @media (min-width: 400px) {
      float: left;
    }
  }
  .credit {
    font-size: 13px;
    text-transform: uppercase;
    @media (min-width: 400px) {
      float: right;
    }
  }
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}