<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>

    <responsive-child>
      <div class="content">
      <p class="chart-head">Soundgarden</p>
      <p class="chatter">The members of Soundgarden have toured, recorded and written for some of rock's most notable names. Click on the band members below to explore their creative connections. </p>
      <div class="filters">
          <% var members = [
          { data: 0, label: "Chris Cornell" },
          { data: 1, label: "Kim Thayil"},
          { data: 2, label: "Hiro Yamamoto" },
          { data: 3, label: "Ben Shepherd" },
          { data: 4, label: "Matt Cameron" },
        ] %>
        <ul class="categories">
          <% members.forEach(function(member) { %>
            <li>
              <button type="button" class="filter-buttons" data-category="<%= member.data %>">
                <span class="member-label"><%= member.label %></span>
              </button>
            </li>
          <% }) %>
        </ul>
      </div>
      <div class="svg-container"></div>

    </div>
    <img width="290px" src="./assets/legend.png">
      <p>Source: Times reporting.</p>
      <p>MIRANDA HARDY/THE SEATTLE TIMES</p>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
