<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>

    <responsive-child>
      <div class="content">
      <p class="chart-head">Soundgarden</p>
      <p class="chatter">The members of Soundgarden have recorded, written, and performed with some of the most notable figures in rock. These collaborations differ in genre and involvement. Matt Cameron has been the drummer of Pearl Jam for over a decade, while Chris Cornell and Santana recorded only one song together, a cover of Led Zeppelin’s “Whole Lotta Love”. Members of Soundgarden have forged eclectic connections throughout the music industry emphasizing the skilled and sought after nature of their band.
          <br><br>Click through the band members below to explore more of Soundgarden’s connections.
      </p>
      <div class="filters">
          <% var members = [
          { data: 0, label: "Chris Cornell", role: "Vocals" },
          { data: 1, label: "Kim Thayil", role: "Lead Guitar"},
          { data: 2, label: "Hiro Yamamoto", role: "Bass Guitar" },
          { data: 3, label: "Ben Shepherd", role: "Bass Guitar" },
          { data: 4, label: "Matt Cameron", role:"Drums" },
        ] %>
        <ul class="categories">
          <% members.forEach(function(member) { %>
            <li>
              <button type="button" class="filter-buttons" data-category="<%= member.data %>">
                <span class="member-label"><%= member.label %><br><span class="member-label-role"><%= member.role %></span></span>
                
              </button>
            </li>
          <% }) %>
        </ul>
      </div>
      <div class="svg-container"></div>

    </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
